@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: black;
  margin-bottom: 0.5rem;
  margin-top: 2.5rem;
  font-size: 1.75rem;
}

.myForm {
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  outline: none;
  background: none;
  border: 1px solid #58ffe0;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: black;
}

.btn {
  background: rgb(6, 6, 232);
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff58e0;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.edit-icon {
  margin-right: 0.75rem;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.pomodoro-container {
  text-align: center;
  background-color: aqua;
  padding: 1rem;
  border-radius: 0.5rem;
}

.info-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.start-button,
.pause-button,
.reset-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.start-button:hover,
.pause-button:hover,
.reset-button:hover {
  background-color: #45a049;
}
